{% extends 'sheryians.html' %}

{% block  body %}

<div>
    <p style="color:aliceblue;font-size: 80px;margin-top: 80px;font-family: NeueMachina;line-height: 69px;font-weight: lighter ;padding-left: 50px;">
        We're not a <span style="color:#24cfa6;">Course <br> factory.</span>

    </p><br><br><br><br>
    <h3 style="color: white;padding-left: 50px;font-size: 30px;font-weight:normal;">We focus on courses that really help.</h3>

</div><br><br><br><br><br><br>
<h3 style="color: white;font-size: 26px;padding-left: 50px;font-weight: lighter;">Courses Which do Work ↓ </h3><br>



<div style=" width:100%;height: 300px;"> 
    <div style="float: left;background-color: black;">
      <img src="/static/images/images 6.jpg" alt="Image 1" style="width:450px;height: 250px;border-radius: 10px;margin-left: 70px;" ><br><br>
      <p style="color: white;font-size: 30px;padding-left: 60px;word-break:3px;line-height:35px;font-weight: lighter;">Three.js Domination
      </p><br>
      <a href=""><h3 style="color: white;text-decoration: none;padding-left: 70px;font-weight: lighter;">HINDI</h3></a><br><br>

      <p style="color: #24cfa6;font-weight: lighter;padding-left: 70px;">Black Friday Sale</p>
      <h3 style="color: white;float: left;padding-left: 70px;">₹4999 </h3> <strike style="color: gray;float: left;padding-left: 45px;">₹9999/</strike>
      <a href="{% url 'app1:courses' %}" style="width: 60px;height:30px;color: black;background-color:white;margin-left: 180px;border-radius:10%;text-decoration: none;">
        29%    OFF
    </a>
    </div>

    <div style="float: left;background-color: black;">
        <img src="/static/images/image5.webp" alt="Image 1" style="width:450px;height: 250px;border-radius: 10px;margin-left: 30px;" ><br><br>
        <p style="color: white;font-size: 30px;padding-left: 60px;word-break:3px;line-height:35px;font-weight: lighter;">Three.js Domination
        </p><br>
        <a href=""><h3 style="color: white;text-decoration: none;padding-left: 70px;font-weight: lighter;">HINDI</h3></a><br><br>
  
        <p style="color: #24cfa6;font-weight: lighter;padding-left: 70px;">Black Friday Sale</p>
        <h3 style="color: white;float: left;padding-left: 70px;">₹5999 </h3> <strike style="color: gray;float: left;padding-left: 45px;">₹11999/</strike>
        <a href="{% url 'app1:courses' %}" style="width: 60px;height:30px;color: black;background-color:white;margin-left: 180px;border-radius:10%;text-decoration: none;">
          50%    OFF
      </a>
      </div>


      <div style="float: left;background-color: black;">
        <img src="/static/images/image2.webp" alt="Image 1" style="width:450px;height: 250px;border-radius: 10px;margin-left:30px;" ><br><br>
        <p style="color: white;font-size: 30px;padding-left: 60px;word-break:3px;line-height:35px;font-weight: lighter;">Three.js Domination
        </p><br>
        <a href=""><h3 style="color: white;text-decoration: none;padding-left: 70px;font-weight: lighter;">HINDI</h3></a><br><br>
  
        <p style="color: #24cfa6;font-weight: lighter;padding-left: 70px;">Black Friday Sale</p>
        <h3 style="color: white;float: left;padding-left: 70px;">₹2999 </h3> <strike style="color: gray;float: left;padding-left: 45px;">₹3500/</strike>
        <a href="{% url 'app1:courses' %}" style="width: 60px;height:30px;color: black;background-color:white;margin-left: 180px;border-radius:10%;text-decoration: none;">
          50%    OFF
      </a>
      </div>
</div><br><br><br><br><br><br><br><br>



<div >
    <div style="float: left;padding-left: 30px;">
       <a  style="padding: 20px 160px;background-color: #24cfa6;border-radius: 10px;font-size: 20px;text-decoration: none;color: black;font-family: 'Helvetica';" href="{% url 'app1:courses' %}">View Details</a>  
       </div>
       <div style="float: left;padding-left: 80px;">
        <a  style="padding: 20px 160px;background-color: #24cfa6;border-radius: 10px;font-size: 20px;text-decoration: none;color: black;font-family: 'Helvetica';" href="{% url 'app1:courses' %}">View Details</a>  
      </div>
        <div style="float: left;padding-left: 80px;">
          <a  style="padding: 20px 160px;background-color: #24cfa6;border-radius: 10px;font-size: 20px;text-decoration: none;color: black;font-family: 'Helvetica';" href="{% url 'app1:courses' %}">View Details</a>  
        </div>
          
<div><br><br><br><br><br>
      <div style="float: left;background-color: black;">
        <img src="/static/images/image1.webp" alt="Image 1" style="width:450px;height: 250px;border-radius: 10px;margin-left: 30px;" ><br><br>
        <p style="color: white;font-size: 30px;padding-left: 60px;word-break:3px;line-height:35px;font-weight: lighter;">Three.js Domination
        </p><br>
        <a href=""><h3 style="color: white;text-decoration: none;padding-left: 70px;font-weight: lighter;">HINDI</h3></a><br><br>
  
        <p style="color: #24cfa6;font-weight: lighter;padding-left: 70px;">Black Friday Sale</p>
        <h3 style="color: white;float: left;padding-left: 70px;">₹2999 </h3> <strike style="color: gray;float: left;padding-left: 45px;">₹3500/</strike>
        <a href="{% url 'app1:courses' %}" style="width: 60px;height:30px;color: black;background-color:white;margin-left: 180px;border-radius:10%;text-decoration: none;">
          29%    OFF
      </a>
    </div>

    <div style="float: left;background-color: black;">
        <img src="/static/images/images3.jpg" alt="Image 1" style="width:450px;height: 250px;border-radius: 10px;margin-left: 70px;" ><br><br>
        <p style="color: white;font-size: 30px;padding-left: 60px;word-break:3px;line-height:35px;font-weight: lighter;">Three.js Domination
        </p><br>
        <a href=""><h3 style="color: white;text-decoration: none;padding-left: 70px;font-weight: lighter;">HINDI</h3></a><br><br>
  
        <p style="color: #24cfa6;font-weight: lighter;padding-left: 70px;">Black Friday Sale</p>
        <h3 style="color: white;float: left;padding-left: 70px;">₹2999 </h3> <strike style="color: gray;float: left;padding-left: 45px;">₹3500/</strike>
        <a href="{% url 'app1:courses' %}" style="width: 60px;height:30px;color: black;background-color:white;margin-left: 180px;border-radius:10%;text-decoration: none;">
          29%    OFF
      </a>
    </div>
</div>

  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div>
    <div style="float: left;padding-left: 30px;">
        <a  style="padding: 20px 160px;background-color: #24cfa6;border-radius: 10px;font-size: 20px;text-decoration: none;color: black;font-family: 'Helvetica';" href="{% url 'app1:courses' %}">View Details</a>  
        </div>
        <div style="float: left;padding-left: 80px;">
         <a  style="padding: 20px 160px;background-color: #24cfa6;border-radius: 10px;font-size: 20px;text-decoration: none;color: black;font-family: 'Helvetica';" href="{% url 'app1:courses' %}">View Details</a>  
       </div>

</div>

  
           


    {% endblock body %}

